<!DOCTYPE html>
<html lang="en">

<head>
	<title>Slide Generation</title>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
</head>

<body style="background-image: url('/datasource/background/gray.jpg'); background-size: cover;">

	<div>
		<div id="custom-mask" class="mask"
			style="background-color: white; opacity: 0.5;position:absolute;top:0 ; left: 0 ; width: 100% ; height: 100%; display: none;">

			<div class="spinner-border m-5" role="status" style="position: absolute;top: 45%; left: 45%;">
				<span class="sr-only">Loading...</span>
			</div>


			<div class="progress float-none" style="margin-top:50%;margin-left:20%;margin-right:20%">
				<div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
					aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
			</div>

		</div>

		<!-- title -->
		<div class="jumbotron text-center">
			<h1 class="display-4">Slide Generation</h1>
			<p class="lead">National Taiwan University, ICAN Lab</p>
		</div>

		<div class="container">
			<div>
				<b>
					<h2>檢視腳本內容</h2>
				</b>
			</div>
			<div>

				<a href="/" style="width:120px; height: auto;" class="btn btn-secondary text-uppercase">返回</a>
				<a id="sure" href="/generation_procedure?file_src={{file_src}}" style="width:120px; height: auto;"
					class="btn btn-primary text-uppercase">確認</a>
			</div>

			<div>
				<div>
					<h3>腳本內容</h3>
				</div>
				<div class="bg-light">

					<pre>
						<code>
{{data_content}}
						</code>
					</pre>
				</div>
			</div>
		</div>
	</div>



	<script src="js/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		crossorigin="anonymous"></script>
	<script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="-anonymous"></script> -->

	<script>



		function update_progress() {
			$.ajax({
				type: 'POST',
				dataType: 'json',
				url: '/progress_sure',
				complete: function (data) {
					$('#progress').attr('style', 'width: ' + data.responseJSON.percentage + '%');
				}
			})
		};


		// deal with mask after submit
		var afterSubmit = function () {
			var interval = setInterval(update_progress, 300);
			$('#custom-mask')[0].style.display = '';
			$(this).attr('disabled', 'disabled');
		};
		// var bindEvent = function (element, type, handler) {
		// 	if (element.addEventListener) {
		// 		element.addEventListener(type, handler, false);
		// 	} else {
		// 		element.attachEvent('on' + type, handler);
		// 	}
		// };
		// bindEvent(document.getElementById('sure'), "submit", afterSubmit)

		// document.getElementById('sure').click(function() {

		// })


		

		$('#sure').on('click', function () {
			afterSubmit();
			// function update_progress() {
			// 	json_obj = $.ajax({
			// 		dataType: 'json',
			// 		url: '/progress_sure'
			// 	})
			// 	var percentage = '30';
			// 	if (json_obj != undefined) {
			// 		percentage = json_obj.responseJSON.percentage;
			// 	}
			// 	$('#progress').attr('style', 'width: ' + percentage + ' %');
			// }

		});

	</script>


</body>

</html>