<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>Choose background</title>
		<!-- Core theme CSS (includes Bootstrap)-->
		<link href="/templates/css/styles.css" rel="stylesheet" />
	</head>
	<body>
		<div class="masthead" style="background-image: url('/datasource/background/gray.jpg')">
			<div class="container">
				<form method="post" action="/generate_slide/choose_background">
					<font size=6>Choose background:</font>
					<br>
					{% for i in range(3) %}
						<input type=radio name=background value={{backgrounds[i]}}>
						<img src="/{{backgrounds[i]}}" alt="{{backgrounds[i]}}" height="200">
					{% endfor %}
					<br>
					{% for i in range(3, 5) %}
						<input type=radio name=background value={{backgrounds[i]}}>
						<img src="/{{backgrounds[i]}}" alt="{{backgrounds[i]}}" height="200">
					{% endfor %}
					<input type=radio name=background value=None>
					<font size=5>None</font>
					<br><br>
					<input type=submit name=submit value=Submit style="width:200px" class="btn btn-primary text-uppercase">
				</form>
			</div>
		</div>
	</body>
</html>


