<!DOCTYPE html>
<html lang="en">

<head>
    <title>Content Management System for Animations</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    

    <!-- <link href="js/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <link href="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <link href="js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script> -->


    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
</head>

<!-- <body style="background-image: url('/datasource/background/gray.jpg'); background-size: cover;"> -->

<body style="background-color: #F7F5F2;">
    <!-- title -->
    <div class="jumbotron text-center">
        <h1 class="display-4">Content Management System for Animations!</h1>
        <p class="lead">National Taiwan University, ICAN Lab</p>
    </div>

    <div class="container">

        <!-- search bar -->
        <form action="/cms" method="GET">
            <div class="input-group">

                <div style="width: 70%;">
                    {% if search_text != "" %}
                    <input id="searchtext" type="text" class="form-control rounded m-1"
                        placeholder="輸入關鍵字，可使用 OR 或 AND 分隔 (如﹔男生 AND 醫生)，使結果更符合您的需求" aria-label="Search"
                        aria-describedby="search-addon" name="searchtext" value='{{ search_text}}' />
                    {% else %}
                    <input id="searchtext" type="text" class="form-control rounded m-1"
                        placeholder="輸入關鍵字，可使用 OR 或 AND 分隔 (如﹔男生 AND 醫生)，使結果更符合您的需求" aria-label="Search"
                        aria-describedby="search-addon" name="searchtext" />
                    {% endif %}
                </div>

                <!-- <input type="hidden" id="'use_sim" name="use_sim" value="false"> -->


                <div style="width: 15%;">
                    <button id='searchbt' type="submit" class="btn btn-outline-primary m-1" name="use_sim" value="false"
                        style="height: 37px;width: 95%;">Search</button>
                </div>

                <div style="width: 15%;">
                    <button id='searchbt_sim' type="submit" class="btn btn-outline-secondary m-1" name="use_sim" value="true"
                        style="height: 37px; width: 95%;">相似詞搜尋</button>
                </div>

            </div>
        </form>
        <div>
            {% if search_text != "" %}
            <p id="result" class="m-3">搜尋條件: {{ search_text }}</p>
            {% endif %}
        </div>


        <!-- table -->
        <!-- <div class="col md-12"> -->

        <div class="m-1">
            <a href="{{main_url}}" style="width:100px; height: auto;" class="btn btn-secondary  float-left m-3">返回首頁</a>


            <!-- <div> -->

            <!-- </div> -->
            <button type="button" class="btn btn-success float-right m-3" data-toggle="modal"
                data-target="#modal-add">新增元件</button>
        </div>


        <div>

            <div class="m-1">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert" style="width: 80%;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>

            <table id="data-table" class="table table-striped">

                <thead class="thead-dark">
                    <tr>

                        <th scope="col">序號</th>
                        <th scope="col">檔名</th>
                        <th scope="col">標籤</th>
                        <th scope="col">預覽</th>
                        <th scope="col">功能</th>

                        {% if sims is not none %}
                        <th scope="col">相似詞</th>
                        {% endif %}
                    </tr>
                </thead>

                {% for i in range(imgs|length) %}
                <tr class="data-record">
                    <th scope="row">{{ (i+1) }}</td>
                    <td>{{imgs[i].name}}</td>
                    <td>
                        {% for j in range(imgs[i].tags|length) %}
                        <!-- <a href="/update/{{imgs.id}}" class="btn btn-warning btn-sm m-1" data-toggle="modal" -->
                        <!-- data-target="#modaledit{{imgs.id}}">Edit</a> -->
                        {% if imgs[i].tags[j] is not none %}
                        <a href="#" class="btn btn-secondary btn-sm m-1 tag">
                            {{ imgs[i].tags[j] }}</a>
                        {% endif %}
                        {% endfor %}
                    </td>


                    <td>
                        <img src="{{ imgs[i].src }}" alt="fail to show image" style="height: 50pt;">

                    </td>


                    <td>
                        <a href="/update/{{imgs[i].id}}" class="btn btn-warning btn-sm m-1" data-toggle="modal"
                            data-target="#modaledit{{imgs[i].id}}">Edit</a>
                        <a href="/delete/{{imgs[i].id}}" class="btn btn-danger btn-sm m-1"
                            onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                        <a href="{{imgs[i].src}}" class="btn btn-info btn-sm m-1" download>Download</a>
                    </td>

                    {% if sims is not none %}
                    <td>
                        "{{ sims[i][0] }} "<br>
                        與 "{{sim_search_text}}" <br>
                        相似度: {{ sims[i][1]}}
                    </td>
                    {% endif %}

                </tr>
                <!-- Modal Edit Tags-->
                <div id="modaledit{{imgs[i].id}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Update Information</h4>
                            </div>
                            <div class="modal-body">
                                <form action="{{url_for('update')}}" method="POST">

                                    <div class="form-group">
                                        <label>File Name: {{imgs[i].name}}</label>
                                        <input type="hidden" name="id" value="{{imgs[i].id}}">
                                    </div>
                                    {% for k in range(8) %}
                                    <div class="form-group">
                                        <label>Tag {{k+1}}:</label>
                                        {% if imgs[i].tags[k] is not none %}
                                        <input type="text" class="form-control" name="tag{{k+1}}"
                                            value="{{imgs[i].tags[k]}}">
                                        {% else %}
                                        <input type="text" class="form-control" name="tag{{k+1}}" value="">
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </table>
        </div>
        <!-- Modal Add component-->
        <div id="modal-add" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">新增元件</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{{url_for('insert')}}" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>File:</label>
                                <input type="file" class="form-control" name="component-file" required="1">
                            </div>
                            <div class="form-group">
                                <label>tag 1:</label>
                                <input type="text" class="form-control" name="tag1">
                            </div>
                            <div class="form-group">
                                <label>tag 2:</label>
                                <input type="text" class="form-control" name="tag2">
                            </div>
                            <div class="form-group">
                                <label>tag 3:</label>
                                <input type="text" class="form-control" name="tag3">
                            </div>
                            <div class="form-group">
                                <label>tag 4:</label>
                                <input type="text" class="form-control" name="tag4">
                            </div>
                            <div class="form-group">
                                <label>tag 5:</label>
                                <input type="text" class="form-control" name="tag5">
                            </div>
                            <div class="form-group">
                                <label>tag 6:</label>
                                <input type="text" class="form-control" name="tag6">
                            </div>
                            <div class="form-group">
                                <label>tag 7:</label>
                                <input type="text" class="form-control" name="tag7">
                            </div>
                            <div class="form-group">
                                <label>tag 8:</label>
                                <input type="text" class="form-control" name="tag8">
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Add Component</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
 -->



    <script src="js/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <script>


        // async request
        $SCRIPT_ROOT = {{ request.script_root | tojson }};
        window.onload = function () {
            const input_id = 'searchtext';
            input = document.getElementById(input_id);
            const end = input.value.length;
            input.setSelectionRange(end, end);
            input.focus();
        }


        // bind #searchbt keyup with #searchtext's "enter" 
        var input = document.getElementById("searchtext");

        input.addEventListener("keyup", function (event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                document.getElementById("searchbt").click();
            }
        });

        // var sim_bt = document.getElementById('searchbt_sim');
        // sim_bt.click( function(){

        // // sim_bt.addEventListener('click' , function(event) {
        //     $('#use_sim').attr('value' , 'true');
            
        // })


    </script>


</body>

</html>