<!DOCTYPE html>
<html lang="en">

<head>


</head>

<body style="background-image: url('/datasource/background/gray.jpg'); background-size: cover;">


    <div class="container">

        <div class="input-group">
            {% if search_text != "" %}
            <input id="searchtext_{{sg_config_id}}" type="text" class="form-control rounded"
                placeholder="輸入搜尋關鍵字，可使用 OR 或 AND (大寫、空白分隔) 等關鍵字，讓搜尋結果更符合您的需要。例如﹔男生 AND 醫生" aria-label="Search"
                aria-describedby="search-addon" name="searchtext" value='{{ search_text}}' />
            {% else %}
            <input id="searchtext_{{sg_config_id}}" type="text" class="form-control rounded"
                placeholder="輸入搜尋關鍵字，可使用 OR 或 AND (大寫、空白分隔) 等關鍵字，讓搜尋結果更符合您的需要。例如﹔男生 AND 醫生" aria-label="Search"
                aria-describedby="search-addon" name="searchtext" />
            {% endif %}

            <button id='searchbt_{{sg_config_id}}' type="button" class="btn btn-outline-primary">Search</button>
        </div>
        <div>
            {% if search_text != "" %}
            <p dataIndex="result" class="p-2 m-3">搜尋條件: {{ search_text }}</p>
            {% endif %}
        </div>

        <div class="table-responsive"
            style="max-height:  300pt; max-width: 100%; overflow-y: auto; overflow-x: auto ; display:inline-block;">

            <table id="data-table" class="table table-striped table-bordered">

                <thead class="thead-dark">
                    <tr>

                        <th scope="col">#</th>
                        <th scope="col">檔名</th>
                        <th scope="col">標籤</th>
                        <th scope="col">預覽</th>
                        <th scope="col">功能</th>
                    </tr>
                </thead>

                {% for i in range(imgs|length) %}
                <tr class="data-record">
                    <th scope="row">{{ (i+1) }}</td>
                    <td>{{imgs[i].name}}</td>
                    <td>
                        {% for j in range(imgs[i].tags|length) %}
                        {% if imgs[i].tags[j] is not none %}
                        <a href="#" class="btn btn-secondary btn-sm m-1 tag">
                            {{ imgs[i].tags[j] }}</a>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <img src="{{ imgs[i].src }}/A.png" alt="fail to show image" style="height: 65px;">
                        <img src="{{ imgs[i].src }}/B.png" alt="fail to show image" style="height: 65px;">
                        <img src="{{ imgs[i].src }}/C.png" alt="fail to show image" style="height: 65px;">
                        <img src="{{ imgs[i].src }}/D.png" alt="fail to show image" style="height: 65px;">
                        <img src="{{ imgs[i].src }}/E.png" alt="fail to show image" style="height: 65px;">
                        <img src="{{ imgs[i].src }}/F.png" alt="fail to show image" style="height: 65px;">
                        <img src="{{ imgs[i].src }}/G.png" alt="fail to show image" style="height: 65px;">
                        <img src="{{ imgs[i].src }}/E.png" alt="fail to show image" style="height: 65px;">
                    </td>

                    <td>

                        <label class="custom-radio-btn">
                            <input type="radio" name="img_src" value="{{imgs[i].src}}">
                            <span class="checkmark"></span>
                        </label>

                        <!-- <a class="btn btn-success btn-sm m-1">Sure</a> -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <!-- 

    <script>

        function showByKeyword(keyword) {

            let displayIdx = [];
            let records = document.getElementsByClassName('data-record');
            for (let i = 0; i < records.length; i++) {
                let tags = records[i].getElementsByClassName('tag');

                for (let j = 0; j < tags.length; j++) {
                    let tag = tags[j].innerText;
                    if (tag.toLowerCase().includes(keyword.toLowerCase())) {
                        displayIdx.push(i);
                        break;
                    }
                }
            }


            for (let i = 0; i < records.length; i++) {
                if ((!displayIdx.includes(i)) && (!(keyword.trim() == ''))) {
                    document.getElementsByClassName('data-record')[i].style.display = 'hidden';
                } else {
                    console.log('else');
                    document.getElementsByClassName('data-record')[i].style.display = 'table-box';
                }
            }
        }
    </script> -->
</body>

</html>