<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>Choose tags</title>
		<!-- Core theme CSS (includes Bootstrap)-->
		<link href="/templates/css/styles.css" rel="stylesheet" />
	</head>
	<body>
		<div class="masthead" style="background-image: url('/datasource/background/gray.jpg')">
			<div class="container">
				<img src='/{{img_src}}' alt='{{img_src}}' height="300">
				<br>
				<b><font size=6 face="sans-serif">Old tags:</font></b>
				<br>
				{% for i in range(old_tags|length) %}
					<font size=5 face="sans-serif">{{old_tags[i]}}</font>
					{% if i == old_tags|length-1: %}
						<font size=5 face="sans-serif">.</font>
					{% else: %}
						<font size=5 face="sans-serif">, </font>
					{% endif %}
				{% endfor %}
				<br>
				<form method="post" action="/manage_animation/edit_tag">
					<input type=hidden name=img_path value='{{img_src}}' readonly >
					<b><font size=6 face="sans-serif">Recommend tags:</font></b>
					<br>
					{% for i in range(recommend_tags|length) %}
						<input type=checkbox name=check value='{{recommend_tags[i]}}'>
						<font size=5 face="sans-serif">{{recommend_tags[i]}}</font>
						<br>
					{% endfor %}
					<font size=5 face="sans-serif">Other tags (should be split by "_"):</font>
					<input type=text name=other style="width:600px">
					<br><br>
					<button name=submit type=submit style="width:200px" class="btn btn-primary text-uppercase">Submit</button>
					<button name=back type=submit style="width:200px" class="btn btn-primary text-uppercase">Back</button>
					
				</form>
			</div>
		</div>
	</body>
</html>


