<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Charlie Lee" />
    <title>Lip-Sync slide Generation System</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/ican-logo.png" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
    type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css" />
    


        
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <!-- <a class="navbar-brand" href="#!">Start Bootstrap</a> -->
            <img src="assets/img/ican-logo.png" alt="" class="navbar-brand" />
            <!-- <a class="btn btn-primary" href="#signup">Sign Up</a> -->
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h1 class="mb-5">
                            <!-- ML based<br />Animated Component Generating System -->
                            Lip-Sync <br />
                            Slide Generation
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Icons Grid-->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">

                <div class="col">
                    
                    <form method="post" action="http://{{ data.url_cms }}/cms" enctype="multipart/form-data">
                        <button name="manage animation" value="manage animation" type="submit" style="background-color: transparent;
                                            background-repeat: no-repeat;        
                                            border: none;
                                            cursor: pointer;
                                            overflow: hidden;
                                            outline: none;">

                            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                <div class="features-icons-icon d-flex">
                                    <i class="bi-window m-auto text-primary"></i>
                                </div>
                                <h3>Component<br />Management</h3>
                                <p class="lead mb-0">An easy way to manage your gallery!</p>
                            </div>

                        </button>
                    </form>
                </div>
<!-- 
                <div class="col-lg-4">
                    <form method="post" action="/manage_slide" enctype="multipart/form-data">
                        <button name="manage animation" value="manage
                                                animation" type="submit" style="background-color: transparent;
                                                background-repeat: no-repeat;
                                                border: none;
                                                cursor: pointer;
                                                overflow: hidden;
                                                outline: none;">
                            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                <div class="features-icons-icon d-flex">
                                    <i class="bi-layers m-auto text-primary"></i>
                                </div>
                                <h3>Slide<br />management</h3>
                                <p class="lead mb-0">Make your job happier!</p>
                            </div>

                        </button>
                    </form>

                </div> -->

                <div class="col">
                    <form action="http://{{ data.url_sg }}/" enctype="multipart/form-data">
                        <button name="manage animation" value="manage animation" type="submit" style="background-color: transparent;
                                background-repeat: no-repeat;
                                border: none;
                                cursor: pointer;
                                overflow: hidden;
                                outline: none;">

                            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                                <div class="features-icons-icon d-flex">
                                    <i class="bi-terminal m-auto text-primary"></i>
                                </div>
                                <h3>Slide<br />Generation</h3>
                                <p class="lead mb-0">
                                    Ready to use with your own content, or customize the source
                                    files!
                                </p>
                            </div>
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </section>
    <!-- Image Showcases-->

        
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 text-white showcase-img"
                    style="background-image: url('assets/img/bg-showcase-2.jpg')"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Content Management System</h2>
                    <p class="lead mb-0">
                        Content Management System (CMS) consists of three phases: collection system, management system, and publish system. The collection system provides functions to create content and transform content into components used to generate meaningful results; the management system is responsible for storing and organizing contents collected in the first phase; the publication system extracts contents from the repository and generates the final publications, which provide meaningful information to users or enterprise. CMS is a solution used to organize information and often create and manage know-how for the enterprise.
                    </p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img"
                    style="background-image: url('assets/img/bg-showcase-3.jpg')"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Deep Learning</h2>
                    <p class="lead mb-0">
                        Deep Learning consists of two types of methodologies—supervised and unsupervised forms. The supervised learning method refers to optimizing a transformation function to fit the predefined targets; for example, when working on classification tasks, the models are forced to predict a class of an instance by maximizing the estimated probability of ground truth labels. However, in unsupervised learning, the output feature representations models are optimized without requiring labeled data.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!-- Testimonials-->
    <!--
    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">Research Team</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="assets/img/author_1.jpg" alt="..."
                            style="height: 140pt; width: 140pt" />
                        <h5>Zheng-Han Lee</h5>
                        <p class="font-weight-light mb-0">
                            M.S. Student in National Taiwan University
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="assets/img/author_2.jpg" alt="..."
                            style="height: 140pt; width: 140pt" />
                        <h5>Sa-Hui Fan</h5>
                        <p class="font-weight-light mb-0">
                            Assistant Professor of National Taichung University of Education
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="assets/img/author_3.jpg" alt="..."
                            style="height: 140pt; width: 140pt" />
                        <h5>Ray-I Chang</h5>
                        <p class="font-weight-light mb-0">
                            Professor of National Taiwan University
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->
    <!-- Call to Action-->
    <!-- Footer-->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/NTU.iCAN.Lab/">About</a>
                        </li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item">
                            <a href="mailto:rayichang@ntu.edu.tw">Contact</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">
                        &copy; ICAN. All Rights Reserved.
                    </p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item me-4">
                            <a href="https://www.facebook.com/NTU.iCAN.Lab"><i class="bi-facebook fs-3"></i></a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a href="https://www.facebook.com/NTU.iCAN.Lab"><i class="bi-twitter fs-3"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/NTU.iCAN.Lab"><i class="bi-instagram fs-3"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> -->



    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/sb-forms-0.4.1.js"></script>


</body>

</html>