<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Manage Slide</title>
		<!-- Core theme CSS (includes Bootstrap)-->
		<link href="templates/css/styles.css" rel="stylesheet" />
	</head>
	<body>
		<div class="masthead" style="background-image: url('datasource/background/gray.jpg')">		
			<div class="container">	
				<form method="post" action="/manage_slide/deal_with_slides" enctype="multipart/form-data">
					<b><font size=6>Slides</font></b>
					<table>
					{% for i in range(slides|length) %}
						<tr>
							<td><button name=download value='{{slides[i][1]}}' type=submit class="btn btn-primary text-uppercase">Download</button></td>
							<td><button name=add value='{{slides[i][1]}}' type=submit class="btn btn-primary text-uppercase">Add animation</button></td>
							<td><font size=5>{{slides[i][0]}}</font></td>
							<td><button name=delete value='{{slides[i][1]}}' type=submit class="btn btn-primary text-uppercase">Delete</button></td>
						</tr>
					{% endfor %}
					</table>
					<br>
					<input type="file" name="slide_file" class="form-control">
					<br>
					<button name='upload' value='upload ppt' type=submit style="width:200px" class="btn btn-primary text-uppercase">Upload PPT</button>			
					<br><br>
					<button name='back' value='back' type=submit style="width:100px" class="btn btn-primary text-uppercase">Back</button>
				</form>
			</div>		
		</div>	
	</body>
</html>
