<!DOCTYPE html>
<html lang="en">

<head>
	<title>Manage Animation</title>
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="templates/css/styles.css" rel="stylesheet" />
	<!-- <link href="/js/script.js" /> -->

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
	<div class="masthead" style="background-image: url('/datasource/background/gray.jpg'); background-size: cover;">
		<div class="container">

			<b>
				<h2>CMS</h2>
			</b>
			<!-- <form method="get" action="/manage_animation/search"> -->
			<div class="input-group">
				<input id="searchtext" type="search" class="form-control rounded" placeholder="Search"
					aria-label="Search" aria-describedby="search-addon" />
				<button id='searchbt' type="button" class="btn btn-outline-primary" name="searchtext">search</button>
			</div>
			<div>
				<p>
					使用 OR 或 AND 等關鍵字，讓搜尋結果更符合您的需要。<br>
					例如﹔男生 AND 醫生
				</p>
				<p id="result"></p>
			</div>
			<!-- </form> -->

			<form method="post" action="/manage_animation/deal_with_animation" enctype="multipart/form-data">
				<input type="file" name="img_file" class="form-control">
				<button name='upload' value='upload animation' type=submit style="width:20">upload</button>
				<table class="table table-striped">
					<thead>
						<th scope="col">序號</th>
						<th scope="col">檔名</th>
						<th scope="col">標籤</th>
						<th scope="col">Action</th>
					</thead>
					<tbody>
						{% for i in range(imgs|length) %}
						<tr>
							<th scope="row">
								<div>{{i+1}}</div>
							</th>
							<td>
								<div style="font-size:20pt;">{{imgs[i].name}}</div>
							</td>
							<td>

								{% for j in range(imgs[i].tags|length) %}
								<a class="btn btn-secondary">{{ imgs[i].tags[j] }} </a>
								{% endfor %}
							</td>
							<td>
								<button name=edit value='{{imgs[i].src}}' type='submit'
									class="btn btn-primary">Edit</button>
								<div>
									<!-- <button style="border-radius: 15px" class="btn btn-primary"> test bt</button> -->
									<a href='/manage_animation/edit_tag' class="btn btn-primary"
										style="border-radius: 10px;">Edit</a>

								</div>


							</td>
							<td>
								<button name=delete value='{{imgs[i].src}}' type='submit'
									class="btn btn-primary">Delete</button>
								<a href='/manage_animation/delete' class="btn btn-primary">Delete</a>


							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<br>
		</div>
		</form>

		<!-- <form method=" post" action="/manage_animation/deal_with_animation" enctype="multipart/form-data">
			<table>
				{% for i in range(imgs|length) %}
				<tr>
					<td><button name=edit value='{{imgs[i][1]}}' type=submit
							class="btn btn-primary text-uppercase">Edit</button></td>
					<td>
						<p>imgs {{imgs[i][0]}}</p>
					</td>
					<td><button name=delete value='{{imgs[i][1]}}' type=submit
							class="btn btn-primary text-uppercase">Delete</button></td>
				</tr>
				{% endfor %}
			</table>
			<br>
			<input type="file" name="img_file" class="form-control">
			<button name='upload' value='upload animation' type=submit style="width:200px"
				class="btn btn-primary text-uppercase">Upload Animation</button>
			<br><br>
			<button name='back' value='back' type=submit style="width:100px"
				class="btn btn-primary text-uppercase">Back</button>
		</form> -->
	</div>
	</div>


	<script>
		$SCRIPT_ROOT = {{ request.script_root | tojson }};
		$(function () {
			$('#searchbt').bind(
				'click',
				function () {
					$.getJSON(
						$SCRIPT_ROOT + '/search', // url
						{
							searchtext: $('#searchtext').val()
						}, // data
						function (data) {
							$("#result").text("搜尋條件: " + data.res);
						} // callback func
					);
					return false;
				}
			);
		}
		);


		// bind #searchbt keyup with #searchtext's "enter" 
		var input = document.getElementById("searchtext");
		input.addEventListener("keyup", function (event) {
			// Number 13 is the "Enter" key on the keyboard
			if (event.keyCode === 13) {
				// Cancel the default action, if needed
				event.preventDefault();
				// Trigger the button element with a click
				document.getElementById("searchbt").click();
			}
		});
	</script>



</body>

</html>