<!DOCTYPE html>
<html lang="en">

<head>
	<title>Slide Generation</title>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body style="background-image: url('/datasource/background/gray.jpg'); background-size: cover;">

	<!-- title -->
	<div class="jumbotron text-center">
		<h1 class="display-4">Slide Generation</h1>
		<p class="lead">National Taiwan University, ICAN Lab</p>
	</div>





	<div class="container">
		<form method="post" action="/generate_slide/choose_animation">
			<input type=hidden name=page value='{{page}}' readonly>
			<h1>Page {{page+1}}</h1>
			<font size=6>Texts in this page want to lip-sync:</font>
			<br>
			{% for i in range(text|length) %}
			<input type=checkbox name=check value='{{text[i]}}'>
			<font size=5>{{text[i]}}</font>
			<br>
			{% endfor %}
			<br>
			<font size=6>Related animations:</font>
			<br>

			<input type=radio name=related value="{{img_src[0]}}">
			<img src="/{{img_src[0]}}" alt="{{img_src[0]}}" height="300">

			<input type=radio name=related value='{{img_src[1]}}'>
			<img src='/{{img_src[1]}}' alt='{{img_src[1]}}' height="300">

			<input type=radio name=related value='{{img_src[2]}}'>
			<img src='/{{img_src[2]}}' alt='{{img_src[2]}}' height="300">

			<input type=radio name=related value=None>
			<p2>None</p2>

			<br><br>
			<font size=5>Save as:</font>
			<input type=text name=newname value='{{newname}}' style="width:600px">
			<br><br>
			<input type=submit name=prev value=Prev style="width:200px" class="btn btn-primary text-uppercase">
			<input type=submit name=next value=Next style="width:200px" class="btn btn-primary text-uppercase">
			<input type=submit name=submit value=Submit style="width:200px" class="btn btn-primary text-uppercase">
			<input type=submit name=back value=Back style="width:200px" class="btn btn-primary text-uppercase">
		</form>
	</div>


	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>


</body>

</html>