<!DOCTYPE html>
<html lang="en">

<head>
	<title>Slide Generation</title>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
</head>


<body style="background-color: #F7F5F2;position: relative;">

	<div>
		<div id="custom-mask" class="mask"
			style="background-color: white; opacity: 0.5;position:absolute;top:0 ; left: 0 ; width: 100% ; height: 100%; display: none;">

			<div class="spinner-border m-5" role="status" style="position: absolute;top: 45%; left: 45%;">
				<span class="sr-only">Loading...</span>
			</div>

		</div>

		<!-- title -->
		<div class="jumbotron text-center">
			<h1 class="display-4">Slide Generation</h1>
			<p class="lead">National Taiwan University, ICAN Lab</p>
		</div>

		<div class="container">
			{% if output_fn is none %}
			<form id="form" method="post" action="/upload_script" enctype="multipart/form-data">
				<b>
					<h2>上傳腳本</h2>
				</b>
				<div class="m-1">
					{% with messages = get_flashed_messages() %}
					{% if messages %}
					{% for message in messages %}
					<div class="alert alert-success alert-dismissable" role="alert" style="width: 100%;">
						<button type="button" class="close" data-dismiss="alert" aria-label="close">
							<span aria-hidden="true">x</span>
						</button>
						{{message}}
					</div>
					{% endfor %}
					{% endif %}
					{% endwith %}
				</div>
				<input type="file" name="xml_file" class="form-control m-3">
				<button id="upload" name='upload' type=submit style="width:150px"
					class="btn btn-primary text-uppercase">上傳</button>
			</form>
			<div>

				<h2>腳本格式</h2>
				<br>
				<p>腳本檔案必須符合 XML 檔案格式，可下載範例檔案以供參考 </p>
				<p>
				<h3><a href="{{ url_for('download_sample1') }}">範例一: 教室</h3>
				</p>
				<p>
				<h3><a href="{{ url_for('download_sample2') }}">範例二: 圖書館</h3>
				</p>
				<p>
				<h3><a href="{{ url_for('download_sample3') }}">範例三: 街道</h3>
				</p>

			</div>


			{% endif %}


			<a href="{{main_url}}" style="width:120px; height: auto;" class="btn btn-secondary text-uppercase m-4">
				返回首頁</a>

			{% if output_fn is not none %}
			<div>
				<a href="/send?out_fn={{output_fn}}" style="height: auto;"
					class="btn btn-success btn-block btn-lg center m-4">下載成果</a>
			</div>
			<div class="center">
				<h2>
					<a
						class="m-4 center"
						href="https://docs.google.com/forms/d/e/1FAIpQLSc2keMsA8aepNPKBx3BmCcCBZLU1k-dVn0e0K8U2Dynt9DL0A/viewform?usp=sf_link">
						問券連結 (樣本數夠了，基於時程，已關閉問券，謝謝老師！)</a>
				</h2>
			</div>

			{% endif %}

		</div>


	</div>



	<script src="js/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		crossorigin="anonymous"></script>
	<script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="-anonymous"></script> -->

	<script>


		// deal with mask after submit
		var afterSubmit = function () {
			$('#custom-mask')[0].style.display = '';
			$(this).attr('disabled', 'disabled');
		};
		var bindEvent = function (element, type, handler) {
			if (element.addEventListener) {
				element.addEventListener(type, handler, false);
			} else {
				element.attachEvent('on' + type, handler);
			}
		};
		bindEvent(document.getElementById('form'), "submit", afterSubmit)



		function postToIframe(data, url, target) {
			$('body').append('<form action="' + url + '" method="post" target="' + target + '" id="postToIframe"></form>');
			$.each(data, function (n, v) {
				$('#postToIframe').append('<input type="hidden" name="' + n + '" value="' + v + '" />');
			});
			$('#postToIframe').submit().remove();
		}

		var output_path = '{{ output_path }}';
		if (output_path != '') {
			postToIframe({ 'output_path': output_path }, '/send', 'blank');
		}


	</script>


</body>

</html>
