<!DOCTYPE html>
<html lang="en">


<head>
	<title>Slide Generation</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<style>
		.center {
			text-align: center;
		}



		/* The container */
		.custom-radio-btn {
			display: block;
			position: relative;
			padding-left: 35px;
			margin-bottom: 12px;
			cursor: pointer;
			font-size: 22px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		/* Hide the browser's default radio button */
		.custom-radio-btn input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}

		/* Create a custom radio button */
		.checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 25px;
			width: 25px;
			background-color: #eee;
			border-radius: 50%;
		}

		/* On mouse-over, add a grey background color */
		.custom-radio-btn:hover input~.checkmark {
			background-color: #ccc;
		}

		/* When the radio button is checked, add a blue background */
		.custom-radio-btn input:checked~.checkmark {
			background-color: #2196F3;
		}

		/* Create the indicator (the dot/circle - hidden when not checked) */
		.checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}

		/* Show the indicator (dot/circle) when checked */
		.custom-radio-btn input:checked~.checkmark:after {
			display: block;
		}

		/* Style the indicator (dot/circle) */
		.custom-radio-btn .checkmark:after {
			top: 9px;
			left: 9px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: white;
		}
	</style>
</head>

<body id="parent" style="background-color: #F7F5F2;position: relative">
	<!-- <body style="background-image: url('/datasource/background/gray.jpg'); background-size: cover;"> -->

	<div id="custom-mask" class="mask"
		style="background-color: white; opacity: 0.5;position:absolute;top:0 ; left: 0 ; width: 100% ; height: 100%; display: none;background-repeat: repeat;">

		<div class="spinner-border m-5" role="status" style="position: absolute;top: 45%; left: 45%;">
			<span class="sr-only">Loading...</span>
		</div>


		<div class="progress float-none" style="margin-top:50%;margin-left:20%;margin-right:20%">
			<div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
				aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
		</div>

	</div>
	<!-- <div> -->

	<!-- title -->
	<div class="jumbotron text-center">
		<h1 class="display-4">Slide Generation</h1>
		<p class="lead">National Taiwan University, ICAN Lab</p>
	</div>

	<div class="container">
		<a href="/index" style="width:120px; height: auto;" class="btn btn-secondary text-uppercase">返回</a>


		<form id="form" action="/submit_json_param" method="POST">


			<div>

				<fieldset id="scene-field">

					<!-- config scene -->
					<div class="w-90 p-3 m-4" style="background-color: rgb(180, 180, 180);">
						<h4>
							場景描述:
						</h4>
						<h3>
							<p class="center">
								<b>{{ scene_raw }}</b>
							</p>
						</h3>
					</div>
					<div id="scene" class="border border-light p-2 m-4 shadow-lg p-3 mb-5 bg-white rounde"></div>
				</fieldset>



				<!-- config actors  -->
				{% for i in range(actors|length) %}

				<fieldset id="actor-field-{{actors[i][0]}}">
					<div class="w-90 p-3 m-4" style="background-color: rgb(180 , 180 ,180 );">
						<h4>
							人物 {{i+1}}:
						</h4>
						<h3>
							<p class="center">
								<b>{{ actors[i][1] }}</b>
							</p>
						</h3>
					</div>
					<div id="{{ actors[i][0] }}" class="border border-light p-2 m-4 shadow-lg p-3 mb-5 bg-white rounde">
					</div>
				</fieldset>


				<fieldset id="actor-mouth-{{actors[i][0]}}">
					<div id="{{ actors[i][0] }}_mouth"
						class="border border-light p-2 m-4 shadow-lg p-3 mb-5 bg-white rounde">
					</div>
				</fieldset>
				{% endfor %}
			</div>

			<input type="hidden" name="num_actor" value="{{actors|length}}">
			<input type="hidden" name="key" value="{{key}}">

			<input id="gen" type="submit" class="btn btn-success btn-block btn-lg center m-4" value="產生簡報">
			<!-- <a href="/submit_json_param" class="btn btn-success btn-block btn-lg center m-4">產生簡報</a> -->

		</form>
	</div>



	<!-- Footer -->
	<footer class="text-center text-lg-start bg-light text-muted">

		<!-- Copyright -->
		<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
			© 2022 Copyright: <b>ICAN</b>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->

	<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"></script> -->


	<script src="js/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		crossorigin="anonymous"></script>
	<script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>


	<script async id="script">

		function showByKeyword(keyword) {

			let displayIdx = [];
			let records = document.getElementsByClassName('data-record');
			for (let i = 0; i < records.length; i++) {
				let tags = records[i].getElementsByClassName('tag');

				for (let j = 0; j < tags.length; j++) {
					let tag = tags[j].innerText;
					if (tag.toLowerCase().includes(keyword.toLowerCase())) {
						displayIdx.push(i);
						break;
					}
				}
			}

			for (let i = 0; i < records.length; i++) {
				if ((!displayIdx.includes(i)) && (!(keyword.trim() == ''))) {
					document.getElementsByClassName('data-record')[i].style.display = 'hidden';
				} else {
					console.log('else');
					document.getElementsByClassName('data-record')[i].style.display = 'table-box';
				}
			}

		}

		// async request
		$SCRIPT_ROOT = {{ request.script_root | tojson }};


		function cms_sg_btn_handler(sg_config_id, query_type) {
			$('#' + sg_config_id).load('{{ cms_api_sg }}', $.param({
				searchtext: document.getElementById('searchtext_' + sg_config_id).value,
				sg_config_id: sg_config_id
			}), function () {
				$('fieldset#' + query_type + ' input[type*="radio"]').attr('name', sg_config_id);
				$('fieldset#' + query_type + ' input[type*="radio"]')[0].checked = 'checked';

				// bind btn with query
				document.getElementById('searchbt_' + sg_config_id).onclick = function () {
					cms_sg_btn_handler(sg_config_id, query_type);
				};

				var input = document.getElementById("searchtext_" + sg_config_id);
				input.addEventListener("keydown", function (event) {
					// Number 13 is the "Enter" key on the keyboard
					if (event.keyCode === 13) {
						// Cancel the default action, if needed
						event.preventDefault();
						// Trigger the button element with a click
						document.getElementById("searchbt_" + sg_config_id).click();
					}
				})

				const input_id = 'searchtext_' + sg_config_id;
				input = document.getElementById(input_id);
				const end = input.value.length;
				input.setSelectionRange(end, end);
				input.focus();

			});
		}

		function cms_sg_btn_handler_mouth(sg_config_id, query_type) {
			$('#' + sg_config_id).load('{{ cms_api_sg }}_mouth', $.param({
				searchtext: document.getElementById('searchtext_' + sg_config_id).value,
				sg_config_id: sg_config_id
			}), function () {
				$('fieldset#' + query_type + ' input[type*="radio"]').attr('name', sg_config_id);
				$('fieldset#' + query_type + ' input[type*="radio"]')[0].checked = 'checked';

				// bind btn with query
				document.getElementById('searchbt_' + sg_config_id).onclick = function () {
					cms_sg_btn_handler_mouth(sg_config_id, query_type);
				};

				var input = document.getElementById("searchtext_" + sg_config_id);
				input.addEventListener("keydown", function (event) {
					// Number 13 is the "Enter" key on the keyboard
					if (event.keyCode === 13) {
						// Cancel the default action, if needed
						event.preventDefault();
						// Trigger the button element with a click
						document.getElementById("searchbt_" + sg_config_id).click();
					}
				});

				const input_id = 'searchtext_' + sg_config_id;
				input = document.getElementById(input_id);
				const end = input.value.length;
				input.setSelectionRange(end, end);
				input.focus();


			});
		}

		// callback scene
		$('#scene').load('{{ cms_api_sg }}', $.param({
			searchtext: 'background AND {{scene}}',
			sg_config_id: 'scene'
		}), function () {
			$('fieldset#scene-field input[type*="radio"]').attr('name', 'scene');
			$('fieldset#scene-field input[type*="radio"]')[0].checked = 'checked';

			// bind btn with query
			var sg_config_id = 'scene';
			var query_type = 'scene-field';
			document.getElementById('searchbt_' + sg_config_id).onclick = function () {
				cms_sg_btn_handler(sg_config_id, query_type);
			};

			// bind #searchbt keyup with #searchtext's "enter" 
			var input = document.getElementById("searchtext_" + sg_config_id);
			input.addEventListener("keydown", function (event) {
				// Number 13 is the "Enter" key on the keyboard
				if (event.keyCode === 13) {
					// Cancel the default action, if needed
					event.preventDefault();
					// Trigger the button element with a click
					document.getElementById("searchbt_" + sg_config_id).click();
				}
			});



		});


		// callback actors and mouthes
		{% for i in range(actors | length) %}
		$('#{{actors[i][0]}}').load('{{cms_api_sg}}', $.param({
			searchtext: 'character AND {{gender_query[i]}}',
			sg_config_id: '{{actors[i][0]}}'
		}), function () {
			$('fieldset#actor-field-{{actors[i][0]}} input[type*="radio"]').attr('name', '{{actors[i][0]}}');
			$('fieldset#actor-field-{{actors[i][0]}} input[type*="radio"]')[0].checked = 'checked';

			// bind btn with query
			var sg_config_id = '{{actors[i][0]}}';
			var query_type = 'actor-field-{{actors[i][0]}}';
			document.getElementById('searchbt_' + sg_config_id).onclick = function () {
				cms_sg_btn_handler(sg_config_id, query_type);
			};

			// bind #searchbt keyup with #searchtext's "enter" 
			var input = document.getElementById("searchtext_" + sg_config_id);
			input.addEventListener("keydown", function (event) {
				// Number 13 is the "Enter" key on the keyboard
				if (event.keyCode === 13) {
					// Cancel the default action, if needed
					event.preventDefault();
					// Trigger the button element with a click
					document.getElementById("searchbt_" + sg_config_id).click();
				}
			});


		}
		);


		$('#{{actors[i][0]}}_mouth').load('{{cms_api_sg}}_mouth', $.param({
			searchtext: '',
			sg_config_id: '{{actors[i][0]}}_mouth'
		}), function () {
			$('fieldset#actor-mouth-{{actors[i][0]}} input[type*="radio"]').attr('name', '{{actors[i][0]}}_mouth');
			$('fieldset#actor-mouth-{{actors[i][0]}} input[type*="radio"]')[0].checked = 'checked';

			// bind btn with query
			var sg_config_id = '{{actors[i][0]}}_mouth';
			var query_type = 'actor-mouth-{{actors[i][0]}}';
			document.getElementById('searchbt_' + sg_config_id).onclick = function () {
				cms_sg_btn_handler_mouth(sg_config_id, query_type);
			};
			// bind #searchbt keyup with #searchtext's "enter" 
			var input = document.getElementById("searchtext_" + sg_config_id);
			input.addEventListener("keydown", function (event) {
				// Number 13 is the "Enter" key on the keyboard
				if (event.keyCode === 13) {
					// Cancel the default action, if needed
					event.preventDefault();
					// Trigger the button element with a click
					document.getElementById("searchbt_" + sg_config_id).click();
				}
			});
		}
		);

		// $('fieldset#actor-field-{{actors[i][0]}} input[type*="radio"]').attr('name', '{{actors[i][0]}}');
		{% endfor %}




		
		function update_progress() {
			$.ajax({
				type: 'POST',
				dataType: 'json',
				url: '/progress_sure_config',
				complete: function (data) {
					$('#progress').attr('style', 'width: ' + data.responseJSON.percentage + '%');
				}
			})
		};
		// var interval = setInterval(update_progress, 300);


		// deal wiht mask after submit
		var afterSubmit = function () {
			var interval = setInterval(update_progress, 300);
			$('#custom-mask')[0].style.display = '';
			$(this).attr('disabled', 'disabled');
			$('#gen').attr('disabled', 'disabled');
		};

		
		var bindEvent = function (element, type, handler) {
			if (element.addEventListener) {
				element.addEventListener(type, handler, false);
			} else {
				element.attachEvent('on' + type, handler);
			}
		};
		bindEvent(document.getElementById('form'), "submit", afterSubmit)







		




		$('#parent').scroll(function () {
			$('#custom-mask').css({ 'top': $(this).scrollTop() });
		});

	</script>



</body>

</html>